body {
    margin: 0;
    background-color: #DDEDFE;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

#sideBar {
    position: fixed;
    width: 15vw;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(12, 50px);
    align-items: center;
    background-color: #1D91EB;
    justify-content: left;
    overflow: hidden;
}

#sideBar a {
    padding: 15px;
    padding-top: 50px;
}

.iconDashboard {
    height: 30px;
    fill: white;
    padding: 10px;
}

.sidebarItems {
    display: flex;
    align-items: center;
    color: white;
}

.sidebarIcons {
    height: 25px;
    fill: white;
    padding: 10px;
}

#container {
    display: grid;
    grid-template-columns: 15vw auto;

}

.mainContainer {
    grid-column-start: 2;
}

#header {
    position: sticky;
    top: 0px;
    height: auto;
    box-shadow: 0 0 5px gray;
    background-color: white;
    padding: 5px;
}

#headerRow1 {
    display: grid;
    grid-template-columns: 1fr 25px 55px 200px;
    align-items: center;
    gap: 10px;
}

.searchBar {
    display: flex;
    height: 25px;
    margin-right: 10px;
}

.input.searchBar {
    border-radius: 50px;
    width: 100%;
    min-width: 100px;
    border: none;
    background-color: #DDEDFE;
}

.input.searchBar:focus {
    outline: none;
    border: 2px solid #1D91EB;
    ;

}

.headerIcons {
    height: 25px;
    fill: rgb(62, 62, 62);
}

button {
    box-shadow: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

#morganAvatar {
    height: 50px;
    padding: 5px 0 5px 0;
}

#headerRow2 {
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 100px 2fr 1.2fr;
    align-items: center;
}

#morganAvatarBig {
    height: 80px;
}

#userWelcome :nth-child(1) {
    font-size: .8rem;
    font-weight: 600;
    margin: 0px;
}

#userWelcome :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;

}

.headerButtons {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90px;
    background-color: #1D91EB;
    border-radius: 22px;
    margin: 2px;
    color: white;
    font-size: .8rem;
    font-weight: 500;

}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
}

#main {
    height: 200vh;
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projectsContainer {
    height: 100%;
}

#cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
    height: 100%;
    gap: 15px;
}

.projects {
    display: grid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    grid-template-columns: 7px repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 5px;
}

.projectTitle {
    margin: 25px 25px 0px 25px;
    font-weight: 900;
    grid-column: span 7;

}

.projectContent {
    grid-column: 2 / -1;
    margin: 0px 25px 0px 25px;
    font-size: .9rem;
}

.cardDeco {
    background-color: #F1B82A;
    border-radius: 5px 0px 0px 5px;
    grid-row: span 6;
    overflow: hidden;
}

.projectCardIcons {
    height: 20px;
    margin-bottom: 25px;
}

.starIcon {
    grid-column-start: 6;
    grid-row-start: 6;
}

.shareIcon {
    grid-column-start: 7;
    grid-row-start: 6;
}

.viewIcon {
    grid-column-start: 8;
    grid-row-start: 6;
}

.rightBar {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

#announceCardsContainer {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.announcements,
.trending {
    margin-left: 15px;
}


#trendCards {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

a {
    text-decoration: none;
}

.userName {
    text-transform: capitalize;
    font-weight: 900;
}

p,
h3 {
    text-transform: capitalize;
}