body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 200px 1fr;

}

#sidebar {
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(12, 50px);
    align-items: center;
    text-transform: capitalize;
    background-color: #1D91EB;
}

#sidebar div,
img {
    padding: 10px;
}

.iconDashboard {
    height: 30px;
    fill: white;
}

.sidebarItems {
    display: flex;
    align-items: center;
    color: white;
}

.sidebarIcons {
    height: 25px;
    fill: white;
    padding: 10px;
}


#headerRow1 {

    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
}

.headerIcons {
    height: 25px;
    fill: black;
}

button {
    box-shadow: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.headerIcons.searchIcon {
    height: 15px;

}



#morganAvatar {
    height: 50px;
}

#main {
    border: 5px solid yellow;
}


a {
    text-decoration: none;
}